<p>
  <span class="spc-navigable" title="Return to parent dir" onclick="returnToParent('<%= locals.currentDirectory %>')">↩️</span>
  <span class="spc-navigable" title="Refresh this dir" onclick="reloadCurrentDir('<%= locals.currentDirectory %>')">🔄</span>
  <span> Current directory: <i><%= locals.currentDirectory %></i></span>
</p>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
    <% if(locals.filesList) { %>
      <% for (let i = 0; i < locals.filesList.length; i++) { %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <% if(locals.filesList[i].isDir) { %>
              <b class="spc-navigable" onclick="navigationTriggered('<%= locals.filesList[i].name %>', '<%= locals.currentDirectory %>')">
            <% } %>
            <%= locals.filesList[i].name %>
            <% if(locals.filesList[i].isDir) { %>
              </b><%= locals.filesList[i].isDir?'📁':'' %>
            <% } %>
          </td>
          <td><%= locals.filesList[i].size %></td>
          <%
            let getDownloadHref = (fname) => {
              let href = "/api/download?f=";
              if(locals.currentDirectory.endsWith('/')) {
                href += locals.currentDirectory + fname;
              } else {
                href += locals.currentDirectory + '/' + fname;
              }
              if(href.startsWith('/')) {
                href = href.substring(1);
              }
              return href;
            };
          %>
          <td><a href="<%= getDownloadHref(locals.filesList[i].name) %>">⬇️</a></td>
        </tr>
      <% } %>
    <% } %>
    <!--<tr>
      <th scope="row">1</th>
      <td>sample.jpg</td>
      <td><a href="/api/download?f=sample.jpg">⬇️</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>sample1.jpg</td>
      <td><a href="/api/download?f=sample1.jpg">⬇️</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>sample2.jpg</td>
      <td><a href="/api/download?f=sample2.jpg">⬇️</a></td>
    </tr>-->
  </tbody>
</table>

<style>
  .spc-navigable {
    cursor: pointer;
  }
</style>
<script>
  function navigationTriggered(fname, parentDir) {
    //alert(fname); //for now
    let newHref = "/list-gui?d=" + parentDir;
    if(parentDir.endsWith("/")) {
      newHref += fname;
    } else {
      newHref += "/" + fname;
    }
    window.location.href = newHref;
  }

  function returnToParent(currDir) {
    let newHref = "/list-gui?d=" + currDir;
    if(currDir.endsWith("/")) {
      newHref = newHref.substring(0, newHref.length - 1);
    }
    let lastSlashIndex = newHref.lastIndexOf("/");
    if(lastSlashIndex > -1) {
      newHref = newHref.substring(0, lastSlashIndex /*+1*/);
    }
    window.location.href = newHref;
  }

  function reloadCurrentDir(currDir) {
    /*if (currDir.endsWith("/")) {
      currDir = currDir.substring(0, currDir.length - 1);
    }
    if (currDir.startsWith("/")) {
      currDir = currDir.substring(1);
    }*/
    window.location.href = "/list-gui?d=" + currDir;
  }
</script>